<!DOCTYPE html>
<html ng-app="task1App">
<head>
    <meta charset="utf-8">
    <title>Angular Training task1 - ShuhratBek</title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Angular Material Framework CSS -->
    <link rel="stylesheet" href="./node_modules/angular-material/angular-material.css">
    <!-- Material Web Font icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Main style -->
    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="MainCtrl as mc">
	<div layout="column" layout-fill>
		<!-- BEGIN: ToolBar -->
		<md-toolbar>
			<div class="md-toolbar-tools">
				<span>Angular Task1</span>
				<span flex></span>
				<span>ShuhratBek</span>
			</div>
		</md-toolbar>
		<!-- END: ToolBar -->
		<!-- BEGIN: Content -->
		<md-content class="content" flex>
			<div layout="row" layout-xs="column" layout-align="center top">
				<!-- BEGIN: Form block -->
				<md-card flex="50" flex-xs="90" layout-padding>
					<form name="form" ng-submit="form.$valid && mc.submit()" novalidate>
						<md-input-container class="md-icon-float md-block" flex>
							<label>Username</label>
							<md-icon md-font-library="material-icons">person</md-icon>
							<input ng-model="mc.user.name" name="name" type="text" required minlength="3" md-maxlength="30" ng-pattern="/^[A-Z][a-zA-Z_ ]+$/">
							<div ng-messages="form.name.$error" multiple>
								<div ng-message="required">This is required.</div>
								<div ng-message="minlength">The name has to be more than 3 characters.</div>
								<div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
								<div ng-message="pattern">Incorrect format</div>
							</div>
						</md-input-container>
						<md-input-container class="md-icon-float md-block" flex>
							<label>Age</label>
							<md-icon md-font-library="material-icons">all_inclusive</md-icon>
							<input ng-model="mc.user.age" name="age" type="text" age required>
							<div ng-messages="form.age.$error" multiple>
								<div ng-message="required">This is required.</div>
								<div ng-message="adult">age should be between 18 and 65</div>
								<div ng-message="incorrect">age should be number</div>
							</div>
						</md-input-container>
						<md-input-container class="md-icon-float md-block" flex>
							<label>Birthday</label>
							<md-icon md-font-library="material-icons">cake</md-icon>
							<input ng-model="mc.user.birthday" name="birthday" birthday type="text" required>
							<div ng-messages="form.birthday.$error" multiple>
								<div ng-message="required">This is required.</div>
								<div ng-message="incorrect">Incorrect date format</div>
							</div>
						</md-input-container>
						<md-input-container class="md-icon-float md-block" flex>
							<label>Greeting</label>
							<md-icon md-font-library="material-icons">notifications</md-icon>
							<input ng-model="mc.user.greeting" type="text">
						</md-input-container>
						<div layout="column" layout-align="center">
							<md-button class="md-raised md-primary" type="submit">Submit</md-button>
						</div>
					</form>
				</md-card>
				<!-- END: Form block -->
				<!-- BEGIN: Result block -->
				<md-card flex layout-padding>
					<md-subheader class="md-primary">Result</md-subheader>
					<md-list layout-padding>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3>Username:</h3>
								<h4>{{mc.result.name}}</h4>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3>Age:</h3>
								<h4>{{mc.result.age}}</h4>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3>Birthday:</h3>
								<h4>{{mc.result.birthday}}</h4>
							</div>
						</md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<h3>Greeting:</h3>
								<h4>{{mc.result.greeting}}</h4>
							</div>
						</md-list-item>
					</md-list>
				</md-card>
				<!-- END: Result block -->
			</div>
		</md-content>
		<!-- END: Content -->
	</div>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/angular-aria/angular-aria.js"></script>
    <script src="./node_modules/angular-animate/angular-animate.js"></script>
    <script src="./node_modules/angular-messages/angular-messages.js"></script>
    <script src="./node_modules/angular-sanitize/angular-sanitize.js"></script>
    <!-- Angular Material Framework JS -->
    <script src="./node_modules/angular-material/angular-material.js"></script>
    <!-- Moment.js for date -->
    <script src="./node_modules/moment/moment.js"></script>
    <!-- Main JS file -->
    <script src="index.js"></script>
</body>
</html>
